:root {
  /* colors */
  --color-bg-header: white;
  --color-bg-btn: #0061ff;
  --color-bg-btn-secondary: rgba(255, 255, 255, 0);
  --color-bg-jumbo: #b4d0e7;
  --color-bg-footer: #000;
  --color-link-header: #000;
  --color-link-footer: white;
  --color-footer: white;
  --color-footer-lang: #989898;
  --color-border: #d0d0d3;
  /* margins */
  --pt-section: 9rem;
  --py-header: 2rem;
  --px-header: 1rem;
  --gap-header: 3rem;
  --gap-card-business: 50px;
  --gap-card-plans: 50px;
  --offset-jumbo: 70px;
  /* heights */
  --h-header: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-link-header);
}

/* DEBUG */
.debug {
  border: 1px dashed black;
  background-color: #fd343425;
  min-height: 80px;
}

/* UTILS */
.container-big {
  max-width: 1180px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.flex,
.row {
  display: flex;
}


/* COMPONENTS */
.btn {
  color: white;
  background-color: var(--color-bg-btn);
  padding: 8px 1rem;
  display: inline-block;
  text-decoration: none;
}

.btn-big {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
}

.btn:hover {
  opacity: .8;
}

.btn-secondary {
  background-color: var(--color-bg-btn-secondary);
  color: black;
  border: 1px solid black;
}

.cards-container .col {
  --n-col: 3;
  width: calc((100% + var(--gap-card-plans))/3 - var(--gap-card-plans));
}

.cards-container .row {
  gap: var(--gap-card-plans);
}

.card-plans {
  border: 1px solid var(--color-border);
  font-size: 0.95rem;
  height: 100%;
}

.card-plans ul {
  list-style: none;
}

.card-plans .card-plans-type {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid var(--color-border);
  font-size: .9rem;
}

.card-plans .card-plans-content {
  padding: 2rem 25px;
}

.card-plans-content strong,
.card-plans-content p {
  font-size: .9rem;
}

.card-plans-content strong {
  padding: 1rem 0 .5rem;
  display: inline-block;
}

.card-plans-content p:first-of-type {
  color: grey;
}

.card-plans-content p:nth-of-type(2) {
  padding-top: 2rem;
}

.card-plans-content p a {
  text-decoration: underline;
  color: var(--color-bg-btn);
}

.card-plans-content .spacer {
  width: 50px;
  border-bottom: 1px solid var(--color-border);
  margin: 2rem 0;
}

.card-plans-content ul:first-of-type {
  padding: 2.5rem 0 2.5rem 25px;
}

.card-plans-content ul:last-of-type {
  padding: 0 0 2.5rem 25px;
}

.card-plans-content ul {
  padding: 2.5rem 0 2.5rem 25px;
  position: relative;
}

.card-plans-content h4+ul {
  margin-top: 1rem;
}

.card-plans-content ul li {
  padding: .8rem 0;
}

.user::before,
.team::before,
.company::before,
.folder::before,
.share::before,
.check::before,
.world::before,
.arrow-after::after {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  display: inline-block;
  margin-right: .5rem;
}

.card-plans-content ul .user::before,
.card-plans-content ul .team::before,
.card-plans-content ul .company::before,
.card-plans-content ul .folder::before,
.card-plans-content ul .share::before,
.card-plans-content ul .check::before,
.card-plans-content ul .world::before,
.card-plans-content ul .arrow-after::after {
  position: absolute;
  left: 0px;
  transform: translateY(20%);
}


.user::before {
  content: '\f007';
}

.folder::before {
  content: '\f07b';
}

.share::before {
  content: '\f1e0';
}

.team::before {
  content: '\f0c0';
}

.company::before {
  content: '\f1ad';
}

.check::before {
  content: '\f00c';
  color: var(--color-bg-btn);
}

.card-plans.horizontal .card-plans-content p {
  color: black;
}

.card-plans.horizontal .card-plans-content {
  display: flex;
}

.card-plans.horizontal .card-plans-content div:first-child {
  width: 70%;
}

.card-plans.horizontal .card-plans-content div:last-child {
  flex-grow: 1;
}

.card-business p {
  padding-top: 2rem;
}

.spacer.big {
  border-bottom: 1px solid white;
  margin: 3rem 0;
  width: 100px;
}

/* SPECIFIC */
header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--px-header);
  background-color: var(--color-bg-header);
}

header {
  font-weight: 500;
}

header nav,
.header-menu,
.header-menu li,
.header-menu li a {
  height: var(--h-header);
}

.header-logo {
  margin-right: var(--gap-header);
  max-width: 130px;
}

.header-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-link-header);
  vertical-align: middle;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition-property: border;
  transition-duration: 50ms;
  transition-timing-function: ease-in-out;
}

.header-menu a:hover {
  border-bottom: 2px solid black;
}

.header-menu {
  list-style: none;
  gap: var(--gap-header);
  height: 100%;
  display: flex;
  align-items: center;
}

header nav .btn {
  color: white;
  align-self: flex-end;
}

#header-menu-btn,
#header-menu-btn .btn {
  height: 40px;
}

#header-menu-btn .btn:hover {
  border: none;
}

.header-left,
.header-right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.header-right {
  justify-content: end;
}

#jumbotron {
  background-color: var(--color-bg-jumbo);
  padding-top: 5rem;
}

#jumbotron .container-big {
  min-height: 650px;
  width: 100%;
  height: 100%;
}

.jumbotron-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: var(--offset-jumbo);
  position: relative;
}

.jumbotron-image {
  position: relative;
  top: var(--offset-jumbo);
}

.jumbo-arrow {
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

main {
  padding-bottom: var(--pt-section);
}

#plans,
#partner,
#business {
  padding-top: var(--pt-section);
}

#plans .input-container {
  padding: 3rem 0;
}

#plans .row {
  flex-wrap: wrap;
}


#plans .cards-container .col.full {
  width: 100%;
}

#partner .col:first-child {
  width: 60%;
}

#partner .col:last-child {
  width: 40%;
}

#partner .col:last-child>div {
  padding: 3rem;
}

#partner .col:last-child>div p {
  padding: 1.5rem 0;
}

#business .row {
  flex-wrap: wrap;
  gap: var(--gap-card-business);
}

#business .col {
  width: calc((100% + var(--gap-card-business))/3 - var(--gap-card-business));
}

#business h2 {
  margin-bottom: 2rem;
}

#business .business-bottom {
  margin-top: 6rem;
  width: 60%;
}

#business .business-bottom a {
  color: var(--color-bg-btn);
  text-decoration: underline;
}

footer {
  background-color: var(--color-bg-footer);
  color: var(--color-footer);
  padding-top: 100px;
  padding-bottom: 3rem;
}

.footer-menu-container {
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  padding-bottom: 100px;
}

footer ul {
  list-style: none;
}

footer h3 {
  line-height: 5rem;
}

footer ul li {
  line-height: 2.6rem;
}

footer a {
  color: var(--color-link-footer);
}

.footer-lang {
  color: var(--color-footer-lang);
}

.world::before {
  content: '\f57d';
}

.arrow-after::after {
  content: '\f0d8';
  margin-left: .5rem;
  display: inline-block;
}